# Ignorar diretórios de builds gerados
android/build/
android/.gradle/
android/local.properties
android/app/build/
# android/app/google-services.json

ios/build/

# Ignorar diretórios e arquivos de dependências
node_modules/
.npm/
.yarn/

# Ignorar IDEs e editores de código
.vscode/
.idea/
.expo/

# Ignorar arquivos de configuração e documentação
*.md
*.log

# Ignorar arquivos temporários
*.bak
*.tmp

# Ignorar pastas de testes ou mocks
test/
__tests__/
mocks/

# Ignorar backend
backend/

# Ignorar todos os arquivos .env
*.env
